@charset "utf-8";
/* CSS Document */

#conteudo {
	position:absolute;
	width:976px;
	height:auto;
	margin-left:197px;
	margin-top:45px;
	}

#capa_grupo {
	position:absolute;
	width:1003px;
	height:240px;
	background-image:url(../images/capa_grupo.png);
	box-shadow:1px 1px 1px 1px #6d6a6a;	
	}

#capa_grupo h1 {
	margin-left:100px;
	font-family: 'Cantarell', sans-serif;
	}
	
#capa_grupo h2 {
	position:absolute;
	margin-left:160px;
	margin-top:-20px;
	font-family: 'Cantarell', sans-serif;
	}
		
#capa_grupo span {
	height:12px;
	width:1003px;
	position:absolute;
	background-color:#0d77b6;
	margin-top:120px;
	box-shadow: 0px 1px 1px 1px #6d6a6a;
	z-index:9;
	}
	
	/*Menu do grupo*/
	
	/*Criação do Grupo*/
	
#img_fundo {
	position:absolute;
	height:621px;
	width:1003px;
	background-image:url(../images/creategroup_back.png);
	background-repeat:no-repeat;
	}
	
#tela_central {
	position:absolute;
	height:300px;
	width:658px;
	margin-top:170px;
	margin-left:160px;
	background-color:#FFF;
	box-shadow: 0px 1px 10px 1px #666666;
	}
	
.create_group {
	position:absolute;
	height:35px;
	width:128px;
	margin-left:260px;
	margin-top:200px;
	text-align:center;
	line-height:2;
	text-decoration:none;
	background-color:#0d77b6;
	box-shadow: 0px 1px 10px 1px #075d90 inset;
	box-shadow: 0px 1px 10px 1px #666666;
	text-shadow:0.1em 0.1em 0.1em #333333;
	color:#FFF;
	font-family: 'Cantarell', sans-serif;
	font-size:17px;
	z-index:1;
	}
	
.create_group:hover {
	background-color:#09F;
	}
	
.text_create_group {
	position:absolute;
	width:610px;
	margin-left:23px;
	text-align:center;
	font-family: 'Cantarell', sans-serif;
	font-size:17px;
	}
	
.form_create_group {
	width: 750px;
 	height: 420px; 
	display: none;
  	background-color:#414043;
	box-shadow: 1px 1px 20px #c0c0c1 inset;
	}
	
.form_create_group label {
	color:#FFF;
	position:absolute;
	margin-left:55px;
	margin-top:20px;
		
	}
	
.form_create_group input {
	margin-left:280px;
	position:absolute;
	width:380px;	
	}
	
.form_create_group textarea {
	margin-left:280px;
	position:absolute;
	width:380px;
	height:200px;
	max-height:200px;
	max-width:380px;	
	}
	
#submit_create_group input {
	position:absolute;
	width:100px;
	height:40px;
	margin-top:215px;
	margin-left:567px;
	}
	

	

	/*Criação do Grupo*/
	
#menu_grupo {
	position:absolute;
	margin-top:80px;
	margin-left:430px;
	}
	
#menu_grupo a {
	text-decoration:none;
	text-align:center;
	line-height:2;
	color:#FFF;
	font-family: 'Cantarell', sans-serif;
	font-size:18px;
	box-shadow: 0px 1px 10px 1px #075d90 inset;
	}
	
.timeline{
	position:absolute;
	background-color:#0d77b6;
	height:40px;
	width:130px;
	text-shadow:0.1em 0.1em 0.1em #333333;	
	}
	
.timeline:hover {
	background-color:#075d90;}
	
.sobre{
	position:absolute;
	background-color:#0d77b6;
	height:40px;
	width:130px;
	margin-left:140px;
	text-shadow:0.1em 0.1em 0.1em #333333;
	}
	
.sobre:hover {
	background-color:#075d90;
	}
	
.album{
	position:absolute;
	background-color:#0d77b6;
	height:40px;
	width:130px;
	margin-left:280px;
	text-shadow:0.1em 0.1em 0.1em #333333;
	}
	
.album:hover {
	background-color:#075d90;
	}
	
.contato{
	position:absolute;
	background-color:#0d77b6;
	height:40px;
	width:130px;
	margin-left:420px;
	text-shadow:0.1em 0.1em 0.1em #333333;
	}
	
.contato:hover {
	background-color:#075d90;}
	/*Menu do grupo*/
	
	
/*Timeline do grupo*/
	
	
#align_post {
	height:auto;
	width:auto;
	margin-top:245px;}
	
#postagem {
	position:relative;
	margin-left:150px;
	height:215px;
	width:660px;
	}
	
#post {
	position:absolute;
	height:auto;}

	
#conteudo_post {
	height:182px;
	width:660px;
	position:absolute;}
	
.foto_post {
	height:111px;
	width:92px;
	position:absolute;
	box-shadow: 0px 2px 10px -1px #6d6a6a;}
	
.nome_post {
	margin-left:110px;
	margin-top:5px;
	position:absolute;
	font-family: 'Cantarell', sans-serif;
	font-size:25px;}
	
.network {
	position:absolute;
	text-decoration:none;
	height:24px;
	width:131px;
	background-color:#0d77b6;
	margin-left:520px;
	margin-top:12px;
	text-align:center;
	font-family: 'Cantarell', sans-serif;
	line-height:1;
	color:#FFF;
	font-size:17px;
	box-shadow: 0px 2px 10px -1px #6d6a6a;
	text-shadow:0.1em 0.1em 0.1em #666;}
	
.network:hover {
	
	background-color:#47a3da;
	}
	
.cont_post {
	margin-left:110px;
	text-align:justify;
	margin-top:50px;
	font-family: 'Cantarell', sans-serif;
	}
	
.cont_post textarea {
	background-color:#f0f0f0;
	border:0;
	text-align:justify;
	font-family: 'Cantarell', sans-serif;
	font-size:15px;
	}
	
#block {
	position:absolute;
	height:120px;
	width:450px;
	margin-top:50px;
	margin-left:110px;
	}
	
.sep_post {
	width:660px;
	position:absolute;
	margin-top:-170px;
	}
	
/*Fim da Timeline do grupo*/


/*Album do Grupo*/

#foto_album {
	position:absolute;
	width:879px;
	height:500px;
	margin-top:290px;
	margin-left:65px;
	}
	
.foto {
	width:279px;
	height:158px;
	display:inline;
	margin-left:7px;
	margin-top:5px;	
	box-shadow: 2px 5px 10px -1px #6d6a6a;
	}
	
.teste_classe {
	width: 750px;
 	height: 390px; 
	display: none;
	}
	
.img_large {
	height:390px;
	width:750px;
	position:fixed;
	}
	
#foto_album a {
	color:#f0f0f0;
	/*retirar a ligação de imagem para imagem , cagada uheuheuhuehuheu
	by:Johnny Castilho =D*/
	}
	
.exit_img {
	height:30px;
	width:30px;
	position:absolute;
	margin-left:730px;
	margin-top:-10px;
	position:fixed;
	z-index:2;}
	
.form_upload {
	position:absolute;
	margin-top:270px;
	margin-left:250px;
	background-color:#FFF;
	}

/*Fim do Album do Grupo*/

/*contato do grupo*/

#area_contato {
	position:absolute;
	margin-top:270px;}

h1 {
	
	margin-left:150px;
	font-family: 'Cantarell', sans-serif;}
	
.form_contato {
	margin-left:150px;}
	
.boneco {
	position:absolute;
	margin-top:20px;
	margin-left:600px;
	}
	
label {
	font-size:18px;
	font-family: 'Cantarell', sans-serif;}


/*fim do contato do grupo*/

/*formatação dos formularios de editar perfil*/
	
.teste_classe {
	width: 650px;
 	height: 380px;
	display:none;
	background-color:#414043;
	box-shadow: 1px 1px 20px #c0c0c1 inset;
	}
	
.teste_classe h1 {
	position:absolute;
	color:#FFF;
	margin-left:170px;}
		
.form {
	position:absolute;
	margin-left:70px;
	margin-top:5px;
	height:400px;
	width:700px;
	}
		
.form label {
	color:#FFF;
	color:#FFF;
	font-family: 'Cantarell', sans-serif;
	font-size:19px;
	}
	
	
.textarea {
	position:static;}
	
.form .submit {
	position:absolute;
	margin-top:320px;
	margin-left:195px;
	}

	
/*formatação dos formularios de editar grupo*/


/*sobre do grupo*/

#sobre_grupo {
	position:absolute;
	margin-top:260px;
	width:1003px;
	height:300px;
	}
	
.objetivo {
	position:absolute;
	margin-left:80px;
	font-family: 'Cantarell', sans-serif;
	font-size:25px;
	}
	
.sep_grupo {
	position:absolute;
	margin-top:65px;
	margin-left:50px;
	width:713px;
	height:4px;
	z-index:1;
	}
	
.conteudo_objetivo {
	position:absolute;
	width:673px;
	margin-top:100px;
	margin-left:50px;
	text-align:justify;
	font-family: 'Cantarell', sans-serif;
	}
	
.conteudo_objetivo textarea {
	background-color:#f0f0f0;
	border:0;
	text-align:justify;
	font-family: 'Cantarell', sans-serif;
	font-size:15px;
	}
	
#block {
	position:absolute;
	margin-left:0px;
	width:700px;
	height:400px;}
	
.lateral_grupo {
	position:absolute;
	margin-left:730px;
	margin-top:30px;
	list-style:none;
	}
	
.lateral_grupo li {
	padding-top:6px;
	font-family: 'Cantarell', sans-serif;}
	
.img_grupo {
	position:absolute;
	margin-top:60px;
	margin-left:750px;
	height:250px;
	width:200px;
	}
	
.title {
	color:#333;
	font-size:19px;
	}
	
.editar_grupo {
	position:absolute;
	height:35px;
	width:180px;
	margin-left:770px;
	margin-top:260px;
	text-align:center;
	line-height:2;
	text-decoration:none;
	background-color:#0d77b6;
	box-shadow: 0px 1px 10px 1px #075d90 inset;
	box-shadow: 0px 1px 10px 1px #666666;
	text-shadow:0.1em 0.1em 0.1em #333333;
	font-family: 'Cantarell', sans-serif;
	color:#FFF;
	font-size:17px;
	z-index:1;
	
	}
	
.editar_grupo:hover {
	background-color:#075d90;
	}
	
.convite_grupo {
	position:absolute;
	height:35px;
	width:180px;
	margin-left:770px;
	margin-top:1px;
	text-align:center;
	line-height:2;
	text-decoration:none;
	background-color:#0d77b6;
	box-shadow: 0px 1px 10px 1px #075d90 inset;
	box-shadow: 0px 1px 10px 1px #666666;
	text-shadow:0.1em 0.1em 0.1em #333333;
	font-family: 'Cantarell', sans-serif;
	color:#FFF;
	font-size:17px;
	z-index:1;
	}
	
.convite_grupo:hover {
	background-color:#075d90;
	}
	
#alunos {
	position:absolute;
	height:200px;
	width:1003px;
	margin-top:320px;
	}
	
.group_people {
	height:170px;
	width:140px;
	box-shadow: 0px 1px 10px 1px #666666;
	display:inline-block;
	margin-left:50px;}

		
/*sobre do grupo*/

/*exibição de amigos para adicionar ao grupo*/

.solicita_amigo_grupo {
	width: 650px;
 	height: 500px;
	display:none;
	}
	
.table {
	width:310px;
	background-color:#c6c6c6;
	box-shadow: 0px 1px 10px 1px #6d6a6a;
	margin-left:180px;
	margin-top:7px;
	}
#people tr {
	height:146px;
	}
	
	
.img_net {
	height:124px;
	width:111px;
	margin-left:5px;
	margin-top:5px;
	box-shadow: 0px 1px 10px 1px #6d6a6a;}
	
.nome_net {
	position:absolute;
	margin-top:-100px;
	margin-left:150px;
	width:150px;
	font-size:19px;
	font-family: 'Cantarell', sans-serif;
	}
	
.grupo_net {
	position:absolute;
	margin-top:-30px;
	margin-left:150px;
	font-family: 'Cantarell', sans-serif;
	}
	
.img2_net {
	margin-left:150px;
	box-shadow: 0px 1px 10px 1px #6d6a6a;}


/*exibição de amigos para adicionar ao grupo*/